<a href="https://colab.research.google.com/github/massilva/dominando-data-science/blob/main/notas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notas

In [2]:
!pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     |████████████████████████████████| 789 kB 5.0 MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803698 sha256=ae7250e569e53186c1d30e7955cc174f35124d7cd44465b37dff040bbc85c86a
  Stored in directory: /root/.cache/pip/wheels/05/ea/68/92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [8]:
import numpy as np
import pandas as pd
import names

size = 999
params = {'low': 0.0, 'high': 10.0, 'size': size}
header = ['P1', 'P2', 'P3']
columns_size = len(header)
lines_count = params['size'] // columns_size
indexes, idx = set([]), 0

while len(indexes) < lines_count:
  indexes.add(names.get_full_name())

grades = np.random.uniform(**params).reshape(lines_count, columns_size).round(2)
grades = pd.DataFrame(data=grades, columns=header, index=indexes)

grades.head()

                    P1    P2    P3
Allan Taylor      1.20  9.76  8.61
Claudette Carter  1.19  6.54  4.46
Carla Baylon      1.79  0.65  0.06
Mary Orizabal     9.74  1.87  0.55
Kelly Powers      0.55  0.45  8.11

### Descrevendo os dados da nota

* **count** - quantidades (tamanho da lista);
* **mean** - média;
* **std** - grau de dispersão de um conjunto de dados (desvio padrão);
* **min** - menor valor;
* **25%** - delimita os 25% menores valores (primeiro quartil ou quartil inferior);
* **50%** - mediana (segundo quartil);
* **75%** - delimita os 25% maior valores (terceiro quartil ou quartil superior);
* **max** - maior valor;

In [9]:
grades.describe()

               P1          P2          P3
count  333.000000  333.000000  333.000000
mean     4.912402    4.858709    5.170390
std      2.885571    2.959087    2.856161
min      0.020000    0.000000    0.010000
25%      2.320000    2.250000    2.940000
50%      5.020000    4.650000    5.310000
75%      7.380000    7.560000    7.470000
max      9.990000    9.930000   10.000000

### Add coluna com a média das notas

In [10]:
grades['MD'] = grades.mean(axis=1).round(2)
grades.head()

                    P1    P2    P3    MD
Allan Taylor      1.20  9.76  8.61  6.52
Claudette Carter  1.19  6.54  4.46  4.06
Carla Baylon      1.79  0.65  0.06  0.83
Mary Orizabal     9.74  1.87  0.55  4.05
Kelly Powers      0.55  0.45  8.11  3.04

### Cria coluna de resultado

In [11]:
grades['RESULTADO'] = grades['MD'].apply(lambda x: x >= 5.0 and 'Aprovado' or 'Reprovado')
grades.head()

                    P1    P2    P3    MD  RESULTADO
Allan Taylor      1.20  9.76  8.61  6.52   Aprovado
Claudette Carter  1.19  6.54  4.46  4.06  Reprovado
Carla Baylon      1.79  0.65  0.06  0.83  Reprovado
Mary Orizabal     9.74  1.87  0.55  4.05  Reprovado
Kelly Powers      0.55  0.45  8.11  3.04  Reprovado

### Exportando CSV

In [12]:
grades.to_csv('notas.csv')