<a href="https://colab.research.google.com/github/massilva/dominando-data-science/blob/main/notas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notas

In [17]:
!pip install names

Requirement already satisfied: names in /usr/local/lib/python3.7/dist-packages (0.3.0)

In [20]:
import numpy as np
import pandas as pd
import names

size = 999
params = {'low': 0.0, 'high': 10.0, 'size': size}
header = ['P1', 'P2', 'P3']
columns_size = len(header)
lines_count = params['size'] // columns_size
indexes = [names.get_full_name() for _ in range(lines_count)]

notas = np.random.uniform(**params).reshape(lines_count, columns_size).round(2)
notas = pd.DataFrame(data=notas, columns=header, index=indexes)

notas.head()

                  P1    P2    P3
Matthew Moland  2.65  3.27  5.77
Ann Sanders     9.23  2.30  9.31
Dustin Craner   4.13  7.99  1.18
Joan Oconnell   6.33  1.62  6.65
Fred Santos     1.70  1.45  9.95

### Descrevendo os dados da nota

* **count** - quantidades (tamanho da lista);
* **mean** - média;
* **std** - grau de dispersão de um conjunto de dados (desvio padrão);
* **min** - menor valor;
* **25%** - delimita os 25% menores valores (primeiro quartil ou quartil inferior);
* **50%** - mediana (segundo quartil);
* **75%** - delimita os 25% maior valores (terceiro quartil ou quartil superior);
* **max** - maior valor;

In [22]:
notas.describe()

               P1          P2          P3
count  333.000000  333.000000  333.000000
mean     5.193333    4.943093    4.946547
std      2.835840    2.950052    2.947423
min      0.040000    0.050000    0.000000
25%      2.810000    2.360000    2.350000
50%      5.210000    4.780000    4.850000
75%      7.640000    7.540000    7.550000
max      9.990000    9.960000    9.950000

### Add coluna com a média das notas

In [35]:
notas['MD'] = notas.mean(axis=1).round(2)
notas.head()

                  P1    P2    P3    MD
Matthew Moland  2.65  3.27  5.77  3.90
Ann Sanders     9.23  2.30  9.31  6.95
Dustin Craner   4.13  7.99  1.18  4.43
Joan Oconnell   6.33  1.62  6.65  4.87
Fred Santos     1.70  1.45  9.95  4.37

### Cria coluna de resultado

In [44]:
notas['RESULTADO'] = notas['MD'].apply(lambda x: x >= 5.0 and 'Aprovado' or 'Reprovado')
notas.head()

                  P1    P2    P3    MD  RESULTADO
Matthew Moland  2.65  3.27  5.77  3.90  Reprovado
Ann Sanders     9.23  2.30  9.31  6.95   Aprovado
Dustin Craner   4.13  7.99  1.18  4.43  Reprovado
Joan Oconnell   6.33  1.62  6.65  4.87  Reprovado
Fred Santos     1.70  1.45  9.95  4.37  Reprovado

### Exportando CSV

In [47]:
notas.to_csv('notas.csv')